{% extends 'layouts/_layout.html' %}
{% load static %}
{% block content %}

  <div class="section">
    <div class="container">
      <div class="row">
        <!-- Cart Items -->
        <div class="col-md-8">
          <div class="cart-list">
            {% for item in items %}
            <div class="product-widget">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="product-img">
                    <img src="./img/product01.png" alt="" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Product Name</a></h3>
                    <h4 class="product-price">$980.00</h4>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-number">
                    <button class="qty-down">-</button>
                    <input type="number" value="1" min="1" />
                    <button class="qty-up">+</button>
                  </div>
                </div>
                <div class="col-md-2">
                  <h4 class="product-subtotal">$980.00</h4>
                </div>
                <div class="col-md-1 text-right">
                  <button class="delete"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
            {% empty %}
              <p>No hay productos agregados en el carrito.</p>
            {% endfor %}


          </div>
        </div>

        <!-- Cart Summary -->
        <div class="col-md-4">
          <div class="cart-summary">
            <h3 class="cart-summary-title">Cart Summary</h3>

            <div class="order-col">
              <span>Subtotal</span>
              <strong>$2940.00</strong>
            </div>

            <div class="order-col">
              <span>Shipping</span>
              <strong>Free</strong>
            </div>

            <div class="order-col">
              <span>Discount</span>
              <strong>-$100.00</strong>
            </div>

            <div class="order-total">
              <span>Total</span>
              <strong>$2840.00</strong>
            </div>

            <button class="primary-btn btn-block cart-checkout-btn">Proceder con la venta</button>

            <a href="{% url 'Ecommerce:productos' 0%}" class="cart-continue-shopping">Seguir Comprando</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
