{% extends 'layouts/_layout_login.html' %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="section auth-section">
    <div class="container">
        <div class="auth-box">
            <h2>Inicia Sesión con tu Cuenta</h2>
            <form method="post" action="{% url 'Ecommerce:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" class="input" placeholder="Ingresa tu Email" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="input" placeholder="Ingresa tu Contraseña" required>
                </div>
                <button type="submit" class="primary-btn">Iniciar Sesión</button>
            </form>
            <!-- Enlace a la página de Register -->
            <div class="register-link">
                <span>¿No tienes una cuenta? <a href="{% url 'Ecommerce:register'%}">Regístrate aquí</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}