{% extends "layouts/_layout.html" %}
{% load static %}
{% block content %}

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Productos</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
                            {% for categoria in categorias %}
                                <li><a href="{% url 'Ecommerce:productos' categoria.id %}">{{ categoria.nombre }}</a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								<!-- product -->
								{% for producto in productos %}
									<div class="product">
										<div class="product-img">
											<img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" height="200px" width="100px">
										</div>
										<div class="product-body">
											<p class="product-category">{{ producto.categoria.nombre }}</p>
											<h3 class="product-name"><a href="#">{{ producto.nombre }}</a></h3>
											<h4 class="product-price">S/. {{ producto.precio }}</h4>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
										</div>
									</div>
								{% empty %}
									<p>No hay productos disponibles en esta categoría.</p>
								{% endfor %}
								<!-- /product -->
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
{% endblock %}